[Unit]
Description=SpigotMC Minecraft Server
Requires=network.target
After=multi-user.target

[Service]
Type=simple
User={{ linux.mc_user }}
Group={{ linux.mc_user }}
WorkingDirectory={{ server_path }}
ExecStart=+/usr/bin/java -Xms{{ linux.mem_usage }} -Xmx{{ linux.mem_usage }} -Dcom.mojang.eula.agree=true -jar spigot.jar nogui
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
